{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="col-md-12">
        <div class="container-fluid">
            <h2><u>Manage Posts</u></h2>
            <br/>
            <table class="table table-bordered table-striped" id="tableauComments">
                <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Chapo</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="corpsTableauComments">
                {% for post in pager.currentPageResults %}
                    <tr>
                        <td>{{ post.author }}</td>
                        <td>
                            <a href="{{ path('post', {'id' : post.id}) }}" title="Go to this Post">{{ post.title }}</a>
                        </td>
                        <td>
                            {% if post.chapo | length >= 50 %}
                                {{ post.chapo | truncate(50) }}
                            {% else %}
                                {{ post.chapo }}
                            {% endif %}
                        </td>
                        <td>
                            {% if post.content | length >= 50 %}
                                {{ post.content | truncate(50) }}
                            {% else %}
                                {{ post.content }}
                            {% endif %}
                        </td>
                        <td>{{ post.dateCreation | date('d-m-Y') }} à {{ post.dateCreation | date('H:i:s')}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" title="Update">
                                <a href="{{ path('updatePost', {'id' : post.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            </button>
                            {{ include('Admin/Post/postModalDelete.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName' : 'managePosts'}) }}
            </div>
        </div>
    </div>
{% endblock %}