{% extends 'base.html.twig' %}

{% block pageContent %}
    <div id="postEntier">
        <a href="javascript:window.scrollTo(0,document.body.scrollHeight)" class="pull-right btn btn-default" type="button" title="Bas de page">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
        <h2 id="titre"><u>{{ post.title }}</u></h2>
        <br/>
        <h4>Summary</h4>
        <p class="chapo">{{ post.chapo }}</p>
        <hr/>
        <h4>Content</h4>
        <p id="postContent">{{ post.content | purify }}</p>
        <hr/>
        <h5>Wrote by : {{ post.author }}</h5>
        <h6>Last modification : {{ post.dateLastModification | date('d-m-Y') }}</h6>
        <hr/>
        <div class="comments" id="comments">
            <div class="previousComments">
                <h3 id="commentaires">Comments</h3>
                {% if app.request.get('success') %}
                    {% include 'messageFlash.html.twig' with {'buttonId': 'commentSend'} %}
                {% endif %}
                {% include('Comment/comment.html.twig') %}
            </div>
        </div>
    </div>
    <a href="javascript:window.scrollTo(0,0)" class="pull-right btn btn-default" type="button" title="Haut de page">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
    <div>
        <a href="{{ path('listPosts_paginated') }}" type="button" class="btn btn-primary pull-left">
            Return to the Posts list
        </a>
        <a href="{{ path('post_edit', {'id': post.id}) }}" type="button" class="btn btn-danger pull-right" title="Add">
            <span class="glyphicon glyphicon-pencil"> Edit this post</span>
        </a>
    </div>
{% endblock %}