{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="col-md-12">
        <div class="container-fluid">
            <h2><u>Manage Comments</u></h2>
            <br/>
            <table class="table table-bordered" id="tableauComments">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Comment</th>
                        <th>Post title</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="corpsTableauComments">
                {% for comment in pager.currentPageResults %}
                    <tr>
                        <td>{{ comment.author }}</td>
                        <td>
                            {% if comment.content | length >= 50 %}
                                {{ comment.content | truncate(50) }}
                                {{ include('Admin/Comment/commentModal.html.twig') }}
                            {% else %}
                                {{ comment.content }}
                            {% endif %}
                        </td>
                        <td>{{ comment.post.chapo }}</td>
                        <td>{{ comment.dateCreation | date('d-m-Y') }} à {{ comment.dateCreation | date('H:i:s')}}</td>
                        <td>
                            {{ include('Admin/Comment/commentModalValidation.html.twig') }}
                            {{ include('Admin/Comment/commentModalDelete.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName' : 'blog_admin_comments_paginated'}) }}
            </div>
        </div>
    </div>
{% endblock %}