{% extends 'base.html.twig' %}

{% block pageContent %}
    <a href="javascript:window.scrollTo(0,document.body.scrollHeight)" class="pull-right btn btn-default" type="button" title="Page Bottom">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </a>
    <h1>Posts List</h1>
    <hr/>
    {% for post in pager.currentPageResults %}
        <article>
            <h3>{{ post.title }}</h3>
            <h6>Last modification : <span class="dateModif">{{ post.dateLastModification | date('d-m-Y') }}</span></h6>
            <div>
                <p class="chapo">{{ post.chapo }}</p>
            </div>
            <a href="{{ path('post', {'id' : post.id }) }}" style="color: blue;">Read the post...</a>
            <br/>
        </article>
    {% endfor %}
    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName' : 'listPosts_paginated'}) }}
    </div>
    <a href="javascript:window.scrollTo(0,0)" class="pull-right btn btn-default" type="button" title="Page Top">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
{% endblock %}
