{% extends 'base.html.twig' %}

{% block pageContent %}
    <div id="postEntier">ASUS Mini PC PN40-BB014MC
        <a href="javascript:window.scrollTo(0,document.body.scrollHeight)" class="pull-right btn btn-default" type="button" title="Page Bottom">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
        <h2 id="titre">{{ post.title }}</h2>
        <br/>
        <h4><u>Summary</u></h4>
        <p class="chapo">{{ post.chapo }}</p>
        <hr/>
        <h4><u>Content</u></h4>
        <p id="postContent">{{ post.content | purify }}</p>
        <hr/>
        <h6>Wrote by : {{ post.author }}</h6>
        <h6>Last modification : <span class="dateModif">{{ post.dateLastModification | date('d-m-Y') }}</span></h6>
        <hr/>
        <div class="comments" id="comments">
            <div class="previousComments">
                <h3 id="commentaires"><u>Comments</u></h3>
                {% if app.request.get('success') %}
                    {% include 'messageFlash.html.twig' with {'buttonId': 'commentSend'} %}
                {% endif %}
                {% include('Comment/comment.html.twig') %}
            </div>
        </div>
    </div>
    <a href="javascript:window.scrollTo(0,0)" class="pull-right btn btn-default" type="button" title="Page Top">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
    <div>
        <a href="{{ path('listPosts_paginated') }}" type="button" class="btn btn-primary pull-left">
            Return to the Posts list
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('updatePost', {'id': post.id}) }}" type="button" class="btn btn-danger pull-right" title="Add">
                <span class="glyphicon glyphicon-pencil"> Edit this post</span>
            </a>
        {% endif %}
    </div>
{% endblock %}
